body {
  background-color: rgb(245, 240, 190); }

p {
  font-family: "Times New Roman", Times, serif;
  color: rgb(125, 0 ,0); }
  
h1, h2 {
   font-family: "Times New Roman", Times, serif;
   font-weight: bold;
   color: rgb(100, 30, 110); }

ol {
  list-style-type: decimal-leading-zero; 
  color: rgb(100, 30, 110);}
  
ul {
  list-style-type: square; }

table {
  border: 2px solid rgb(100, 30, 110); 
  color: rgb(100, 30, 110);}
